.menu {
    list-style: none;
    display: flex;
}

.item  a {
    text-decoration: none;
    font-weight: 500;
    color: #525252;
}

.footerMenu {
    margin-bottom: 32px;
}

.footerMenu .menu {
    gap: 26px;
}

.footerMenu .item  a{    
    font-size: 14px;
}

.headerMenu .menu {
    gap: 36px;
}

.headerMenu .item  a{
    font-size: 16px;
}
