.socialSection {
    padding: 96px 0;
}

.text {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #525252;
    margin-bottom: 32px;
}

.socials {
    list-style: none;
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

.social {
    padding: 24px;
}

.social:first-child {
    padding-left: 0;
}

.social:last-child {
    padding-right: 0;
}
