.header {
    display: flex;
    justify-content: space-between;
    padding: 0 112px;
}

.container {
    display: flex;
    align-items: center;
    gap: 98px;
}

.buttons {
    display: flex;
    gap: 16px;
}