.container {
    padding: 96px;
}

.header {
    text-align: center;
    padding: 0 160px;
    margin-bottom: 64px;
}

.textTop {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #4338CA;
    margin-bottom: 12px;
}

h3 {
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    color: #171717;
    margin-bottom: 20px;
}

.textBottom {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #525252;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    row-gap: 48px;
}

.featuresItem {
    width: calc(33.33% - 21.33px);
    text-align: center;
}

.featuresTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #171717;
    margin: 20px 0 8px 0;
}

.featuresText {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #525252;
}
