#root {
  background: linear-gradient(to right bottom, #F9FAFB, #D2D6DB);
}

.layout {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px;
}

.content {
  background-color: #fff;
  box-shadow: 
      0 4px 6px -2px rgba(0, 0, 0, 0.05), 
      0 10px 15px -3px rgba(0, 0, 0, 0.1); 
  border-radius: 6px;
}

.big {
  width: 100%;
}

